* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    list-style-type: none;
    font-family: "Raleway", sans-serif;
  }
  body {
    margin:0px;
    background-color:white;
}
  /* Standard body text style */
ot {
    font-size: 16px;
    line-height: 1.5rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #888888;
  }
  body,html {
    height: 100%;
    margin:0;
    overflow-x: hidden;
  }

  
  a {
    transition: 0.2s;
    text-decoration: none;
    color: #fff;
  }
  
  a:hover {
    transition: 0.2s;
    color: #383938;
  }

 


::-webkit-scrollbar {
    width: 5px;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.headerText{
    color: #cc9800;
    font-size: 40px;
    font-family: "brandon-grotesque", sans-serif;
    margin-top:-40px;
}
.bodyText{
    color: #153256;
    font-size: 17px;
    font-family: "brandon-grotesque", sans-serif;
}
#clock{
    color: #cc9800;
    font-size: 40px;
    font-family: "brandon-grotesque", sans-serif;
    margin-top:40px;
}

h2 {
  /* text-align: center; */
  font-family: 'Raleway', serif;
 
  color: white;
  font-weight: bold;
  /* padding: 15px; */
}

h3 {
  font-family: 'Raleway', serif;
  align-items: left;
  color: white;
  font-weight: bold;
}

.first-column {
  font-size: 30px;
  width: 25%;
  padding-top:30px;
  padding-left:100px;
  float: left;
  text-align: center;

}

.second-column {
  width: 75%;
  padding-top:75px;
  /* padding-right:100px; */
  float: right;
  text-align: center;
  display: inline;
  font-size: 60px;
}

@media only screen and (max-width: 100%) {

 .first-column {
      width: 100%;
      padding-bottom: 10px;
      float: none;
  }

  .second-column {
      width: 100%;
      padding-bottom: 10px;
      float: none;
      display: inline;
  }
  
}